* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body,
html {
    background: #1e262c;
    color: #fff;
    font-size: 16px;
    margin: 0 auto;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


header {
    background-image: url("https://images7.alphacoders.com/926/926629.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
    height: 100vh;

}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #1e262c;
    opacity: .9;
    min-height: 62px;
    width: 100%;
}

nav li {
    list-style: none;
    display: inline-block;
    /* line-height: 62px; */
}

nav li a {
    text-decoration: none;
    color: floralwhite;
    display: block;
    padding: 0px 20px;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
}

.landing {
    margin-top: 125px;
    margin-left: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;


}

.landing div {
    display: flex;
}


.landing>div:nth-child(2) {
    border-left: 3px solid #fff;
    /* background: #1e262c; */
    margin-left: 50px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.landing button {
    width: 120px;
    height: 45px;
    border-radius: 4px;
    border: 0;
    background: #1e262c;
    color: #fff;
}


.landing button:hover,
.landing button:focus {
    border: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 20px 2px #fb3;
}

#main {
    padding: 10px;
    margin: 5px;
    background: #ccc;
}

section{
    margin: 8px;
    margin-top: 15px;
}

#screen_shots {
    /* display: flex; */
    justify-content: space-around;
    white-space: nowrap; 
    overflow-x: scroll;
    overflow-y: hidden;
   
}

#screen_shots::-webkit-scrollbar { /* WebKit */
    display: none;
}


#screen_shots .card {
    border: 1px solid #1e262c;
    display: inline-block;
    max-width:320px;
    /* margin: 0 0 0 auto; */
/* https://images7.alphacoders.com/996/thumb-1920-996259.jpg */
}

#exosuits{
    background-image: url("https://images7.alphacoders.com/996/996259.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    padding: 10px;
    /* background:#ccc; */
    
}

.content_left{
   border-left:#1e262c; 
   display: flex;
   align-items: center;
   text-align: left;
   justify-content: end;
   opacity: .8;
   width: 40%;
   color: #fb3;
   font-weight:700;
}

.content_right{
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    opacity: .9;

  
}

.content_right div{
    max-width: 320px;
    border:1px solid #1e262c;

    /* align-self: center; */
}

