* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;

}

body,
html {
    background: #1e262c;
    color: #fff;
    font-size: 16px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


header {
    background-image: url("http://hdqwalls.com/download/2019-anthem-gb-3840x2160.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
    height: 100vh;

}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #1e262c;
    /* opacity: .9; */
    min-height: 62px;
    width: 100%;
}

nav li {
    list-style: none;
    display: inline-block;
    /* line-height: 62px; */
}

nav li a {
    border-left: solid #04497e;
    text-decoration: none;
    color: floralwhite;
    display: block;
    padding: 0px 20px;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
}

nav li a:hover,
nav li a:focus {
    border-bottom: 2px solid #fb3;
    border-left: 0;


}

.landing {
    margin-top: 125px;
    margin-left: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;


}

.landing div {
    display: flex;
}


.landing>div:nth-child(2) {
    border-left: 3px solid #fff;
    /* background: #1e262c; */
    margin-left: 50px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.landing button {
    width: 120px;
    height: 45px;
    border-radius: 4px;
    border: 0;
    background: #1e262c;
    color: #fff;
}


.landing button:hover,
.landing button:focus {
    border: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 20px 2px #fb3;
}



section {
    padding: 10px;
    width: 100%;
    margin-left: 0;
    padding-bottom: 25px;
}

section h2 {
    text-align: center;

}

.grey {
    background: #ccc;
}



#screen_shots {
    /* display: flex; */
    /* justify-content: space-around; */
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    /* background: #ccc; */
    width: 100%;


}

#screen_shots::-webkit-scrollbar {
    /* WebKit */
    display: none;
}


#screen_shots .card {
    border: 1px solid #1e262c;
    display: inline-block;
    max-width: 320px;
    /* https://images7.alphacoders.com/996/thumb-1920-996259.jpg */
}

#exosuits {
    background-image: url("https://images2.alphacoders.com/926/thumb-1920-926545.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: 40% 2fr  ;
    grid-column-gap:5px;
    min-height: 80vh;
    /* background: #1e262c; */   
}


.content_left {
    display: grid;
    align-items: center;
    text-align: center;
    color: #1e1e1e;
    font-weight: 700;
    padding:0 10px 0 10px;
}

.content_left h2{
    color:#04497e;
}

.content_right {
    animation-name: anthem_rain;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}


@keyframes anthem_rain{
    0%{
        border-left: solid #fb3;
       
    }

    25%{
        border-left: solid #ccc;
       
    }

    50%{
        border-left: solid #04497e;
    }

    75%{
        border-left: solid #05b413;
    }

    100%{
        border-left: solid #da250d;
    }
}

.content_right div {
    max-width: 320px;
    /* border: 1px solid #1e262c; */
    /* transform: skew(-19deg);
    box-shadow: 10px 6px 1px 0px #fb3; */
    /* border-top-left-radius:1,2; */
    /* align-self: center; */
}

#description{
    display: grid;
    grid-template-rows:repeat(2,1fr);
    grid-gap:10px;
}